*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
#container {
  height: 100px;
  width: 100%;
  display: flex;
}
.img-div1 {
  height: 95%;
  width: 30%;
  margin: auto;
  display: flex;
  margin-left: 5%;
}
.img-div1 > div {
  height: 70%;
  width: 20%;
}
.con-img {
  height: 90%;
  width: 90%;
  margin-top: 20%;
}
.img-div2 {
  height: 95%;
  width: 52%;
  margin: auto;
  display: flex;
  margin-left: 15%;
}
.img-div2 > div {
  height: 100%;
  width: 55%;
  display: flex;
  margin-left: 5%;
}
.con-p {
  margin-top: 5%;
  margin: auto;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: #494949;
  font-size: 16px;
  font-weight: bold;
}
.con-line1 {
  height: 40%;
  border: 0.5px solid rgb(214, 214, 214);
  margin: auto;
}
.img-div2 > div > div {
  display: flex;
  gap: 50%;
  margin-left: 2%;
}
.con-p2 {
  margin-top: 5%;
  margin: auto;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: #494949;
  font-size: 14px;
  font-weight: bold;
}
.con-line1 {
  height: 40%;
  border: 0.5px solid rgb(214, 214, 214);
  margin: auto;
  margin: 9% 3%;
}
.con-line2 {
  height: 40%;
  border: 0.5px solid rgb(214, 214, 214);
  margin: 30% 0%;
  margin-left: -20%;
}
.search-icon {
  margin-top: 40%;
  margin-left: -30%;
}
.con-line3 {
  height: 40%;
  border: 0.5px solid rgb(214, 214, 214);
  margin: 30% -30%;
}
.con-p3 {
  margin-top: 5%;
  margin: auto;
  margin-left: 10%;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: #494949;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  gap: 20%;
}
.line4 {
  width: 100%;
  border: 3px solid rgb(214, 214, 214);
}
#des {
  height: 500px;
  width: 100%;
  background-image: url("bmw-group.jpg");
  background-size: cover;
  background-image: linear-gradient(rgba(6, 5, 5, 0.357), rgba(9, 8, 8, 0.42)),
    url(bmw-group.jpg);
  margin-top: -6%;
}
#des > div {
  height: 15%;
  width: 50%;
  margin: 6% 6%;
  display: flex;
}
.des-p {
  font-size: 35px;
  font-weight: lighter;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: white;
  letter-spacing: -1.5px;
  margin-top: 12%;
}
.line5 {
  width: 10%;
  border: 2px solid rgb(214, 214, 214);
  margin: auto;
  margin-top: 2%;
}
#box {
  height: 450px;
  width: 100%;
  margin-top: 1%;
  background-color: rgb(242, 242, 242);
}
.box-1 {
  height: 100px;
  width: 50%;
  font-size: 25px;
  margin-top: 4%;
  margin-left: 6%;
}
.box-1 i{
  margin-top: 4%;
}
.box-p {
  font-size: 35px;
  font-weight: lighter;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  margin-top: 1%;
  color: rgb(73, 73, 73);
}
.box-2 {
  height: 250px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  display: flex;
}
.box-2 > div {
  height: 100%;
  width: 23%;
  margin: auto;
  background-color: white;
}
.box2-img {
  height: 80%;
  width: 100%;
}
.box2-img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
}
.box-2 P {
  font-weight: bolder;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  margin-left: 3%;
  margin-top: 3%;
  color: rgb(73, 73, 73);
}
#main {
  height: 550px;
  width: 100%;
  margin-top: 2%;
}
.main-1 {
  height: 100px;
  width: 50%;
  font-size: 25px;
  margin-top: 4%;
  margin-left: 6%;
}
.main-1 p {
  font-weight: bolder;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  margin-top: 1%;
}
.main-2 {
  height: 370px;
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.main-2 > div {
  height: 100%;
  width: 31%;
  margin: auto;
  box-shadow: #1a1919;
}
.main2-img {
  height: 100%;
  width: 100%;
}

.main2-h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(0, 0, 0);
  margin-top: -85%;
  margin-left: 7%;
}
.main2-h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(255, 252, 252);
  margin-top: -85%;
  margin-left: 7%;
}
.bgcolor {
  height: 80px;
  width: 100%;
  background-color: rgb(242, 242, 242);
}
#big {
  height: 2950px;
  width: 100%;
  background-color: rgb(242, 242, 242);
}
.big-1 {
  height: 100px;
  width: 50%;
  font-size: 25px;
  margin-left: 6%;
}
.big-p {
  font-weight: bolder;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  margin-top: 1%;
}
.big-2 {
  height: 580px;
  width: 100%;
  display: flex;
  margin-top: -30px;
}
.big2-img1 {
  height: 530px;
  width: 60%;
  margin: 3% 6%;
}
.big2-img {
  height: 100%;
  width: 100%;
}
.big2-text {
  height: 530px;
  width: 30%;
  margin-top: 3%;
  margin-left: -5%;
}
.big2-h1 {
  font-size: 25px;
  font-weight: lighter;
  font-family: "BMWGroupTNCondensedProTT-Regular", Tahoma, Geneva, sans-serif;
  color: rgb(92, 91, 91);
  margin-top: 45%;
  text-transform: uppercase;
}
.big2-p {
  font-size: 15px;
  font-family: "BMWGroupTNProTT-Regular", Arial, Helvetica, sans-serif;
  color: #494949;
  letter-spacing: 1px;
  line-height: 20px;
}
#card {
  height: 500px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex;
}
#card > div {
  height: 95%;
  width: 31%;
  margin: auto;
}
.card-img {
  height: 55%;
  width: 100%;
}
.card-img:hover {
  cursor: pointer;
  transform: scale(0.98);
  transition: ease-out 0.3s;
}
.card-h {
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  margin: 15px 0px;
}
.card-h:hover {
  color: black;
  cursor: pointer;
}
#network {
  height: 550px;
  width: 100%;
  margin: auto;
  display: flex;
}
#network > div {
  height: 100%;
}
.network-div1{
  width: 30%;
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  margin-left: 5%;
  padding: 20px;
}
.network-div1 > h2{
  margin-top: 50%;
  font-size: 32px;
  text-align: right;
}
.network-div1 > p{
  text-align: right;
}
.network-div1 :hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.network-div2{
  width: 59%;
  margin-left: 0.5%;
}
.network-div2 > img {
  height: 100%;
  width: 100%;
}
.network-div2 > img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
}
#tech{
  height: 1050px;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: repeat(2, 200px);
  gap: 20px;

}

.tech-div > img{
  height: 55%;
  width: 100%;
}
.tech-div > h2 {
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  font-size: 27px;
  line-height: 1.2;
}
.tech-div > p {
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  font-size: 18px;
}
.tech-div > h2:hover, p:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
footer {
  height: 220px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
footer > div {
  height: 100%;
  width: 22%;
}
footer > div > h4 {
  font-family: "BMWGroupTNCondensedProTT-Bold", Charcoal, sans-serif;
  color: rgb(73, 73, 73);
  font-weight: 200;
  font-size: 18px;
}
footer > div > h4:hover {
  color: black;
  cursor: pointer;
  font-weight: 500;
}
#footer1 {
  display: flex;
  flex-direction: row;
}
.footer-img {
  height: 30px;
  width: 30px;
  margin: 15px 15px;
}
.footer-img > a > img {
  height: 100%;
  width: 100%;
}
.footer-img > a > img:hover {
  height: 35px;
  cursor: pointer;
  transform: scale(1.02);
  transition: ease-in-out 0.3s;
}
